<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UserAPITestSuite" verbose="1" parallel="false">
  <test name="PostUserTest" verbose="2" preserve-order="true">
    <classes>
      <class name="test.PostUserTest"/>
    </classes>
  </test>
  <test name="PostUserTest2" verbose="2" preserve-order="true">
    <classes>
      <class name="test.PostUserTest2"/>
    </classes>
  </test>
  <test name="GetUserNameTest" verbose="2" preserve-order="true">
    <classes>
      <class name="test.GetUserNameTest"/>
    </classes>
  </test>
  <test name="PostCreateWithListTest" verbose="2" preserve-order="true">
    <classes>
      <class name="test.PostCreateWithListTest"/>
    </classes>
  </test>
  <test name="PostCreateWithArrayTest" verbose="2" preserve-order="true">
    <classes>
      <class name="test.PostCreateWithArrayTest"/>
    </classes>
  </test>
</suite>
